version: '3.8'
services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: svc_wallet
      POSTGRES_USER: svc_wallet
      POSTGRES_PASSWORD: svc_wallet
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  api:
    build: .
    volumes:
      - .:/app
    ports:
      - "9006:9006"
    depends_on:
      - db
      - redis

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
volumes:
  pgdata:
